<p>
  <b>Name:</b>
  <%= @story.name %>
</p>

<p>
  <b>Description:</b>
  <%= @story.description %>
</p>

<p>
  <b>Project:</b>
  <%= @story.project.name %>
</p>

<p>
  <b>Stage:</b>
  <%= @story.stage.name %>
</p>