<h1><%= @story.name %></h1>

<% unless @story.description.blank? %>
  <div class="well">
    <%= simple_format auto_link @story.description %>
  </div>
<% end %>

<p>
  <span class="label notice"><%= @story.stage.name %></span>
  <% @story.labels.each do |label| %>
    <span class="label"><%= label.name %></span>
  <% end %>
</p>