<div class="hero-unit">
  <h1>PivotalBoard will display your current sprint in an agile board.</h1>
  <p>Simply sign in using your PivotalTracker account. (We don't store your password.)</p>

  <br />

  <%= render 'form' %>
</div>
