<div class="hero-unit">
  <h1>It seems like you don't have any projects in your Pivotal Tracker account.</h1>
  <p>Go <%= link_to "create some", "http://www.pivotaltracker.com/" %> and come back here!</p>
</div>
